body {
  background-color: white;
}
.NavBar h4{
  color: white;
  font-family: 'Lato';
}

.NavBar-BG {
  background-color: #0f073c;
}

.LandingForm h1{
  font-size: 4rem;
  color: white;
  font-family: 'Lato';
  font-weight: bold;
}

.LandingForm {
  background-color: #0f073c;
}

.Description{
  font-family: 'Lato';
  font-weight: bold;
}

.Description .Col1{
  background-color: lightblue;
  margin: 1%;
}